/* Fuentes agregadas y paleta de colores */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');


/* Azul: #004aad
   Azul oscuro #06479c
   Naranja: #FF6500
    */

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}



/* Estilos del header */


.headerBS {
  font-family: "Poppins", sans-serif;
  background-color: #06479c;
  color: #EFEFEF;
  height: 75px;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: 800;
  margin-left: 20px;
  color: #EFEFEF;
  text-decoration: none;
}

/* Enlaces */
.nav-link {
  color: #EFEFEF;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #ffffff;
  
}

.list-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75%;
}



 /* Estilos del Main */

 /*Suscripciones*/

 .section-subs-titulo {
   font-family: "Poppins", sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
   background-color: #EFEFEF;
 

 }
 .titulo-subs {
   text-align: center;
   width: 100%;
   border-style: none;
   color: black;

 }

 .titulo-subs h2 {
   font-size: 50px;
   font-weight: 600;
 }

 /* CAJAS DE SUBSCRIPCIONES */

 .planes {
   font-family: "Poppins", sans-serif;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   gap: 2%;
   padding: 6% 3%;
   margin-top: 2%;
 }

 .planes h3 {
   font-weight: 550;
 }

 

/* CUADRO SUB BRASIL */

 .sub-brasil {
   width: 33%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   border: 2px black solid;
   padding: 3%;
   text-align: center;
   position: relative;
 }

 .sub-brasil h2 {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 100%;
   height: auto;
   margin-bottom: 4%;
   font-weight: 800;
 }

 .sub-brasil h3 {
   margin-bottom: 8%;
 }

 .sub-brasil ul{
   margin: 3%;
 }

 .sub-brasil img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 5%;
   object-fit: cover; 
   object-position: center;   
 }

 /* CUADRO SUB AFRICA */

 .sub-africa {
   width: 33%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items: flex-start;
   border: 2px black solid;
   padding: 3%;
   text-align: center;
   position: relative;
}

.sub-africa h2 {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 100%;
   height: auto;
   margin-bottom: 4%;
   font-weight: 800;
 }

 .sub-africa img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 5%;
   object-fit: cover;
   object-position: center;
 }

 .sub-africa h3 {
   margin-bottom: 8%;
 }

 .sub-africa ul{
   margin: 3%;
 }

/* CUADRO SUB COLOMBIA */

 .sub-colombia {
   width: 33%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items: flex-start;
   border: 2px black solid;
   padding: 3%;
   text-align: center;
   position: relative;
}

.sub-colombia h2 {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 100%;
   height: auto;
   margin-bottom: 4%;
   font-weight: 800;
 }

 .sub-colombia img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 5%;
   object-fit: cover;
   object-position: center;
 }

 .sub-colombia h3 {
   margin-bottom: 8%;
 }

 .sub-colombia  ul{
   margin: 3%;
 }

.boton-subs {
   background-color: #EFEFEF;
   color: black;
   padding: 10px 20px;
   border: 1px black solid;
   border-radius: 2px;
   font-size: 16px;
   cursor: pointer;
   transition: 0.3s;
   margin-top: 6%;
 }

 .boton-subs:hover{
   background-color: black;
   cursor: pointer;
   color: #EFEFEF;
 }


   /* Kika Runinng */

.foto-running {
  position: relative;
  background-image: url(Imagenes/running_banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.foto-running .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: 1;
}

.titulo-running {
  position: relative;
  z-index: 2;
  color: #ff0000;
  text-align: center;
  margin: 0;
  font-style: italic;
  
}

.titulo-running h2 {
   font-size: 6rem;
   font-family: "Fugaz One", sans-serif;
   font-weight: 300;
   font-style: normal;
   padding-bottom: 5%;
  

}


.text-dentro-running {
   background-color:rgba(0, 0, 0, 0.7);
   font-family: "Poppins", sans-serif;
   color: #EFEFEF;
   text-align: center;
   font-weight: 600;
   
   font-size: 17px;
   width: 60%;
   z-index: 2;
}


.section-form {
   font-size: larger;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #EFEFEF; 
}

.section-form h3 {
   text-align: center;
   font-size: large;
   font-weight: 400;
}


.form-titulo {
   font-family: "Poppins", sans-serif;
   margin-top: 3%;
   margin-bottom: 2%;
}

.form-running {
   font-family: "Poppins", sans-serif;
   color: black;
   background-color: #ffffff;
   text-align: center;
   font-size: medium;
   font-weight: 600;
   margin-top: 30px;
   height: 70%;
   width: 40%;
   border: 2px solid black;
   border-radius: 4px;
   margin-bottom: 6%;
   padding: 0% 2%;
   
}

.form-running form {
   padding: 40px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   align-content: space-between;
}

.form-running form button {
   font-family: "Poppins", sans-serif;
   font-weight: 600;
   margin-top: 10%;
   border: 2px solid black;
   border-radius: 4px;
   height: 40px;
   width: 30%;
   background-color: black;
   color: #EFEFEF;

}

.form-running form h2 {
   padding-bottom: 20px;
}

.form-running form label {
   padding-top: 5%;
   width: 100%;
   text-align: left;
}

.form-running form input {
   width: 100%;
   height: auto;
   padding: 7px;
   font-size: 15px;
}


.running-historia {
   display: grid;
   grid-template-areas:
   'img1 p1 p1'
   'img3 img3 img3'
   'p2 p2 img2';
 
   grid-template-columns: repeat(3, 1fr);
   align-items: stretch;
   font-family: "Poppins", sans-serif;
   background-color: black;
   color: #EFEFEF;
}

.running-historia img {
   width: 100%;  
   height: 100%; 
   object-fit: cover;
}

.running-historia p {
   padding: 4%;
   font-size: larger;
   font-weight: 600;
   height: 100%;
   box-sizing: border-box;
   display: flex; 
   align-items: center;
   justify-content: center;
   text-align: center;
   }


.corredor-1 {
   grid-area: img1;

}

.texto-1 {
   grid-area: p1;
}

.corredor-3 {
   grid-area: img3;
}

.texto-2 {
   grid-area: p2;
}

.corredor-2 {
   grid-area: img2;
}

 

/* Cursos */

.section-titulo-cursos{
   background-image: url(Imagenes/cafe1.png);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 40vh;
   padding-top: 40px;

}

.titulo-cursos{
   background-color: transparent;
   color: white;
   font-family: "Playfair Display", serif;
   text-align: center;
   margin: auto;
   width: 100%;
   font-style: italic;
}

.titulo-cursos h1 {
   font-size: 4.6rem;
   font-weight: 600;
}

.foto-filtrado {
   height: 600px;
   width: 500px;
}
.foto-arte-latte {
   height: 600px;
   width: 500px;   
}

.filtrado {
   font-family: "Poppins", sans-serif;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 3%;
   background-color: #EFEFEF;   
}

.texto-cursos {
   padding-left: 3%;
}

.arte-latte {
   font-family: "Poppins", sans-serif;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 3%;
   background-color: #EFEFEF;
}

.boton-cursos {
   background-color: black;
   color: #EFEFEF;
   padding: 10px 20px;
   margin-top: 4%;
   border: 2px black solid;
   border-radius: 4px;
   font-size: 16px;
   cursor: pointer;
   transition: 0.3s;
 }

 .boton-cursos:hover{
   background-color: #EFEFEF;
   cursor: pointer;
   color: black;
 }



/* Productos */


.productos-titulo {
   text-align: center;
   padding: 40px 20px;
   background-color: #f5f5f5;
   font-family: "Poppins", sans-serif;
 }
 
 .titulo-productos h1 {
   font-size: 2rem;     
   margin-bottom: 10px;
   color: #222222;
   font-weight: 600;
 }
 
 .titulo-productos h2 {
   font-size: 2.8rem;        
   color: #333;
   font-weight: 500;
 }
 


.productos {
   font-family: "Poppins", sans-serif;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   background-color: #faf9f9;
   
}

.img-producto {
   height: 100%;
   width: 100%;
}

.descripcion-prod {
   color: black;
   flex: 0 0 calc(33.33% - 20px);
   padding: 2%;
   position: relative;
   display:flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.descripcion-prod p {
   font-size: large;
   padding: 5%;
}

.descripcion-prod img{
   display: block;
   width: 100%;
   height: auto;
   transition: filter 0.3s ease;
 }

 .descripcion-prod:hover img {
   filter: brightness(40%);
 }
 

.boton-prod{
   font-size: medium;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 20px);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  padding: 16px 50px;
  background-color: transparent;
  color: white;
  border: 2px white solid;
  border-radius: 1px;
  cursor: pointer;
  font-weight: 500;
  pointer-events: none;
 }

 .descripcion-prod:hover .boton-prod {
   opacity: 1;
  transform: translate(-50%, -50%);
  pointer-events: auto;
 }

 .boton-prod:hover{
   background-color: white;
   cursor: pointer;
   color: rgb(31, 31, 31);
 }




 

 /* index */

 .principal {
   font-family: "Poppins", sans-serif;
   background-color: #181818;
   color: #EFEFEF;
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 5%;
 }

.texto-principal {
   padding-right: 3%;
}

.texto-principal h1 {
   font-size: 2rem;
   padding-bottom: 3%;
}

.img-principal {
   display: grid;
   grid-template-areas:
   'img1 img2'
   'img1 img3'
   ;

   grid-template-columns: 1fr, 1fr;
   gap: 2%;
}



.interior-caf {
   grid-area: img1;
   height: 615px;
   width: auto;
}

.mesa-afuera {
   grid-area: img2;
   height: 300px;
   width: 250px;
}

.mesa-adentro {
   grid-area: img3;
   height: 300px;
   width: 250px;
}





 .imagen-div-index {
   background-image:url( Imagenes/Cafeteria_fondo_menu.png);
   background-size: cover;
   background-position:35% 65%;;
   width: 100%;
   height: 100%;
   padding: 5% 0%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
 }

 .imagen-div-index h3{
   font-size: larger;
   font-weight: 700;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding-top: 15%;
   padding-left: 3%;
 }

 .carta {
   width: 33%;
   height: auto;
   color: #06479c;
   background-color: #EFEFEF;
   font-family: "Poppins", sans-serif;
   margin-left: 10%;
   padding-bottom: 3%;
   border-radius: 3px;
   border-color: rgb(190, 190, 190);
 }


  

 .menu h2 {
   display: flex;
   flex-direction: column;
   font-family: "Righteous", sans-serif;
   font-size: 9rem;
   font-style: normal;
   text-align: center;
   font-weight: 1000;
   padding-top: 2%;
 }

 .menu-lista {
   display: flex;
   justify-content: center;
   gap: 60%;
   font-family: 'Arial', sans-serif;
   font-size: 1.125rem;
   padding-top: 2%;
 }

 .menu-lista-dulce {
   display: flex;
   justify-content: center;
   gap: 25%;
   font-family: 'Arial', sans-serif;
   font-size: 1.125rem;
   padding-top: 2%;
 }

 .menu-lista-salado {
   display: flex;
   justify-content: center;
   gap: 30%;
   font-family: 'Arial', sans-serif;
   font-size: 1.125rem;
   padding-top: 2%;
 }

 .menu-bebidas {
   list-style-type: none;
   padding: 6px 0;
 }

 .precios {
   list-style-type: none;
   padding: 6px 0;
 }

.carta p {
   display: flex;
   justify-content: center;
   padding-top: 10%;
   font-weight: 600;
}

 .descripcion-menu{
   font-family: "Poppins", sans-serif;
   color: #EFEFEF ;
   background-color: rgba(0, 0, 0, 0.7);
   display: flex;
   flex-direction:column;
   justify-content: center;
   padding: 10px;
   width: 35%;
   font-size: large;
   font-weight: 500;
   text-align: center;
   margin-right: 10%;

 }

 .fondo-ubicacion {
   background-color: #efefef;
   height: 100%;
 }

 .ubicacion {
   text-align: center;
   font-family: "Poppins", sans-serif;
   padding-top: 2% ;
   width: 100%;
   color: black;
   background-color: transparent;

 }

 .map-ubicacion {
   max-width: 90%;
   margin: 0 auto;
   padding: 3%;
   text-align: center; 
 }

.faq {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 5%;
   background-color: #EFEFEF;
}

.faq-text {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: "Poppins", sans-serif;
}

.faq-text h2 {
   font-size: 3rem;
   font-weight: 700;
}

.faq-text p {
   font-size: 1.3rem;
}

.accordion-button {
  background-color: white;
  color: black;
}

.accordion-button:not(.collapsed) {
  background-color: rgb(14, 14, 14);
  color: white;
  box-shadow: none;
  border-radius: 0 !important;
}


.accordion-button:focus {
  box-shadow: none;
}

.accordion {
   width: 50%; 
 }

/* Estilos del Footer */

footer {
   font-family: "Poppins", sans-serif;
   background-color: #06479c;
   color: #EFEFEF ;
   display: flex;
   flex-direction: row;
   width: 100%;
   height: 10%;

}

footer nav {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}

.footer-logo {
   font-size: larger;
   padding: 8px;
   margin-left: 4%;
   display: flex;
   font-weight: 700;
}

.footer-logo a {
   text-decoration: none;
   color: #EFEFEF;
}

.footer-logo a h2 {
   font-size: 2rem;
  font-weight: 700;
}

.footer-parrafo {
   margin-left: 10%;
   padding: 3%;
   width: 100%;
   margin-right: 2%;
}

.footer-iconos {
   display: flex;
   justify-content: space-between;
   width: 25%;
   padding: 8px;
   margin-right: 4%;
   

}

.wpp-icon {
   width: 70px;
   height: 70px;
}

.ig-icon {
   width: 70px;
   height: 70px;
}






@media (max-width: 500px){

   /* INDEX */

   /* HEADER */

.list-menu {
    flex-direction: column;
    background-color: #205992;
    padding: 10px;
  }

  .navbar-toggler {
    border: 2px #EFEFEF solid;
    color: #EFEFEF;
  }

  .navbar-nav {
    width: 100%;
  }

  .nav-link {
    padding: 8px 0;
  }


  
   /* BODY */


.principal {
   flex-direction: column;
}

.texto-principal h1 {
   padding-top: 3%;
   padding-bottom: 4%;
   font-size: 2rem;
}

.texto-principal p{
   padding-bottom: 7%;
}

.interior-caf {
   height: 307px;
   width: auto;
}

.mesa-afuera {
   height: 150px;
   width: 125px;
}

.mesa-adentro {
   height: 150px;
   width: 125px;
}

.img-principal {
   padding-right: 8%;
}



.imagen-div-index {
   flex-direction: column-reverse ;
   align-items: center;
   padding-top: 15%;
   padding-left: 10% ;
}

.descripcion-menu {
   width: 90%;
}

.carta {
   margin-top: 12%;
   margin-right: 20%;
   width: 95%;
   padding-right: 10%;
}

.menu {
   font-size: 5rem;
   padding-left: 2%;
}

.menu h2 {
   box-sizing: border-box;
}

.menu-lista {
   padding-left: 8%;
}

.menu-lista-dulce{
   padding-left: 8%;
}

.menu-lista-salado{
   padding-left: 8%;
}

.carta p {
   padding-left: 5%;
   text-align: center;
}

.ubicacion {
   padding:5% 0%;
}

.ubicacion h2 {
   padding-bottom: 3%;
}

.map-ubicacion {
   width: 100%;
   max-width: 90%;
   overflow: hidden;   
   padding-bottom: 10%;
}

.menu h2 {
   font-size: 7rem;
   padding-left: 13px;
}

.faq {
   flex-direction: column;
   padding-bottom: 7%;
}

.faq-text {
   margin-bottom: 6%;
}

.accordion {
   width: 100%; 
 }

   /* SUSCRIPCIONES */

.titulo-subs  h2 {
   font-size: 2rem;
   padding-bottom: 5%;
}


.planes {
   flex-direction: column;
}

.planes li {
   padding: 3% 0%;
}

.sub-brasil {
   width: 90%;
   margin-bottom: 10%;
   padding: 10%;
   text-align: start;
}

.sub-africa {
   width: 90%;
   margin-bottom: 10%;
   padding: 10%;
   text-align: start;
}

.sub-colombia {
   width: 90%;
   margin-bottom: 10%;
   padding: 10%;
   text-align: start;
}

   /* CURSOS */

.section-titulo-cursos {
   height: 12rem;
}

.titulo-cursos h1{
   font-size: 3rem;
}

.filtrado {
   flex-direction: column;
   padding: 10% 0%;
}

.foto-filtrado {
   height: 500px;
   width: 400px;
   padding-bottom: 5%;
}

.arte-latte {
   flex-direction: column;
   padding-bottom: 7%;
}

.foto-arte-latte {
   height: 500px;
   width: 400px;
   padding-bottom: 5%;
}

.texto-cursos {
   padding: 0% 5%;
   padding-top: 3% ;
}

.texto-cursos h2 {
   padding-bottom: 1%;
}

.texto-cursos p {
   padding-bottom: 2%;
}



   /* PRODUCTOS */

.productos {
   flex-direction: column;
}

.descripcion-prod {
   padding: 4%;
}


   /* KIKA RUNNING */

.foto-running {
   height: 50vh;
 } 
 
.titulo-running h2{
   font-size: 2.5rem;
}

.text-dentro-running {
   font-size: 1rem;
   width: 100%;
   margin: 2% 0%;
}

.form-titulo {
   width: 100%;
   display: flex;
   flex-direction: column;
   text-align: center;
}

.form-titulo h2 {
   font-size: 2rem;
   padding: 4% 0%;
}

.form-running {
   width: 90%;
   margin-bottom: 20%;
}

.form-running form button {
   width: 50%;
}

.running-historia p {
   font-size: 0.8rem;
}



   /* FOOTER */

footer nav {
   flex-direction: column;
}

.footer-parrafo {
   margin: 0%;
   padding: 3%;
   width: 100%;
   text-align: center;
}

.footer-iconos {
   width: 100%;
   justify-content: space-evenly;
   padding: 0% 15%;
   margin: 3% 0%;
}

.footer-logo {
   margin-top: 4%;
}

.wpp-icon {
   width: 55px;
   height: 55px;
}

.ig-icon {
   width: 55px;
   height: 55px;
}



}